/* Typography */
.card {
    background-color: var(--surface-card);
    padding: 1.5rem;
    margin-bottom: 16px;
    border-radius: $borderRadius;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08) !important;

    &.card-w-title {
        padding-bottom: 2rem;
    }
}

.surface-card.border-round {
    border-radius: 12px !important;
}