.layout-sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    @include transition(left $transitionDuration);
    @include linear-gradient($menuBgColorFirst, $menuBgColorLast);
    @include shadow(0 0 6px 0 rgba(0, 0, 0, 0.16));

    .layout-logo {
        text-align: center;
        margin-top: 24px;   
    }

    .layout-profile {
        text-align: center;
        padding: 20px 0;

        img {
            width: 56px;
            margin: 10px;
        }

        .layout-profile-link {
            cursor: pointer;
            color: $menuitemColor;
            display: inline-block;
            margin-bottom: 10px;
            @include transition(color $transitionDuration);

            i {
                display: inline-block;
                font-size: 16px;
                vertical-align: middle;
            }

            &:hover {
                color: $menuitemHoverColor;
            }
        }

        > ul {
            background-color: $menuitemActiveBgColor;
            text-align: left;
            margin: 0;
           
            li {
                button {
                    width: 100%;
                    padding: 1em;
                    border: 0 none;
                    border-radius: 0;

                    &:hover {
                        color: $menuitemHoverColor;
                    }

                    span {
                        margin-left: .25em;
                        vertical-align: middle;
                    }

                    i {
                        vertical-align: middle;
                    }
                }

                &:last-child {
                    > button {
                        border: 0 none;
                    }
                }
            }
        }
    }

    .layout-main-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            a {
                cursor: pointer;
                position: relative;
                color: $menuitemColor;
                text-decoration: none;
                font-size: $fontSize;
                padding: 1em;
                display: block;
                border-top: 1px solid $menuitemBorderColor;

                i {
                    font-size: 18px;
                    vertical-align: middle;
                }

                span {
                    margin-left: .25em;
                    vertical-align: middle;
                }

                .menuitem-toggle-icon {
                    float: right;
                    margin-top: 2px;
                }

                &:hover {
                    color: $menuitemHoverColor;
                }

                &.router-link-active {
                    color: $menuitemActiveRouteColor;
                }
            }

            &.active-menuitem {
                > a {
                    background-color: $menuitemActiveBgColor;
                    color: $menuitemActiveColor;

                    .menuitem-toggle-icon {
                        @include icon-override("\e933");
                    }
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: $menuitemActiveBgColor;
                padding-left: 1.5em;

                &.layout-submenu-wrapper-enter,
                &.layout-submenu-wrapper-leave-to {
                    max-height: 0;
                }

                &.layout-submenu-wrapper-enter-to,
                &.layout-submenu-wrapper-leave {
                    max-height: 1000px;
                }

                &.layout-submenu-wrapper-leave-active {
                    overflow: hidden;
                    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
                }

                &.layout-submenu-wrapper-enter-active {
                    overflow: hidden;
                    transition: max-height 1s ease-in-out;
                }

                li {
                    a {
                        cursor: pointer;
                        padding: .75em 1em;
                        font-size: $submenuFontSize;
                        border-top: 0 none;
                    }

                    &:last-child {
                        > a {
                            border-bottom: 0 none;
                        }
                    }
                }
            }

            &:last-child {
                > a {
                    border-bottom: 1px solid $menuitemBorderColor;
                }
            }
        }

        > li > ul {
            padding-bottom: 1em;
        }

        .menuitem-badge {
            margin-top: 3px;
            font-size: 10px;
            float: right;
            width: 16px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            color: $menuitemBadgeColor;
            background-color: $menuitemBadgeBgColor;
            @include border-radius(50%);
        }
    }

    .layout-main-menu {
        padding-bottom: 120px;
    }

    &.layout-sidebar-dark {
        @include linear-gradient($menuDarkBgColorFirst, $menuDarkBgColorLast);

        .layout-profile {
            > button {
                color: $menuitemDarkColor;

                &:hover {
                    color: $menuitemDarkHoverColor;
                }
            }

            > ul {
                background-color: $menuitemDarkActiveBgColor;

                li {
                    button {
                        border: 0 none;
                        color: $menuitemDarkColor;
                        border-top: 1px solid $menuitemDarkBorderColor;

                        &:hover {
                            color: $menuitemDarkHoverColor;
                        }
                    }
                }
            }
        }

        ul {
            li {
                a {
                    color: $menuitemDarkColor;
                    border-top: 1px solid $menuitemDarkBorderColor;

                    &:hover {
                        color: $menuitemDarkHoverColor;
                    }
                }

                &.active-menuitem {
                    > a {
                        background-color: $menuitemDarkActiveBgColor;
                        color: $menuitemDarkActiveColor;
                    }
                }

                ul {
                    background-color: $menuitemDarkActiveBgColor;

                    li {
                        a {
                            border: none;
                        }
                    }
                }

                &:last-child {
                    > a {
                        border-bottom: 1px solid $menuitemDarkBorderColor;
                    }
                }
            }
        }
    }
}