.layout-topbar {
    position: fixed;
    height: 5rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--surface-card);
    transition: left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08) !important;

    .layout-topbar-left {
        display: flex;
        align-items: center;

        .layout-topbar-logo-container {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .layout-menu-button {
            margin-left: 2rem;
        }
    }

    .layout-topbar-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--text-color-secondary);
        margin-left: 1rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        transition: background-color $transitionDuration;
        
        &:hover {
            color: var(--text-color);
            background-color: var(--surface-hover);
        }

        &:focus {
            @include focused();
        }

        span {
            &.layout-topbar-icon {
                font-size: 1.5rem;
            }

            &.layout-topbar-item-text {
                font-size: 1.5rem;
                display: none;
            }
        }
    }

    .layout-topbar-right {
        animation-duration: .5s;
    }
}
