/* Typography */
.card {
    background-color: var(--surface-card);
    padding: 1em;
    margin-bottom: 16px;
    border-radius: $borderRadius;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08) !important;

    &.card-w-title {
        padding-bottom: 2rem;
    }
}

.surface-card.border-round {
    border-radius: 12px !important;
}

/* Code Highlight */
.docs {
    pre[class*="language-"] {
        padding: 0 !important;
        background: transparent;
        overflow: visible;

        > code {
            border-left: 0 none;
            box-shadow: none !important;
            font-size: 14px;
        }
    }
}
