/* General */
$fontSize:1rem;
$textSecondaryColor:#71717A;
$borderRadius:12px;
$dividerColor:#f3f4f6;
$transitionDuration:.2s;
$maskBgColor:rgba(0, 0, 0, 0.4);
$focusShadowColor:#E0E7FF;

/* Menu */
$menuitemCategoryTextColor:#18181B;
$menuitemTextColor:#3F3F46;
$menuitemHoverBg:#f4f4f5;

/* Topbar */
$topbarBg:#ffffff;
$topbarItemTextColor:#3F3F46;
$topbarItemHoverBg:#f4f4f5;

/* Footer */
$footerBg:#ffffff;